body {
    font-family: Arial;
    text-align: center;
    background-color: blue;
}

.container {
    margin-top: 50px;
}

input {
    padding: 10px;
    margin: 5px;
    width: 200px;
}

button {
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
    background-color: cyan;
    color: white;
    border: none;
}

button:hover {
    background-color: grey;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}